// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";

@font-face {
  font-family: "Scheherazade New";
  src: url("../../assets/fonts/ScheherazadeNew-Medium.ttf");
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Scheherazade New", serif;
  font-size: larger;
  line-height: normal;

  @import "./layout.scss";
}

@import "./pages/browser.scss";

@import "./pages/translation.scss";

@import "./pages/roots.scss";

@import "./pages/yournotes.scss";

@import "./pages/coloring.scss";

@import "./pages/tags.scss";

@import "./pages/inspector.scss";

@import "./pages/comparator.scss";

@import "./pages/about.scss";

@import "./main_md.scss";
