// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";

@font-face {
  font-family: "Scheherazade New";
  src: url("../../assets/fonts/ScheherazadeNew-Medium.ttf");
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Scheherazade New", serif;
  font-size: larger;
  line-height: normal;

  background-color: var(--color-primary);

  nav {
    //background-color: #c2ccd5;
    background-color: rgb(33, 37, 41);

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    .nav-list {
      display: flex;
      justify-content: space-between;

      &-start {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        &-item {
          a {
            text-decoration: none;
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            color: rgb(190, 190, 190);
          }

          a.active {
            color: black;
            background-color: var(--color-primary);
            border-radius: 0.3rem;
          }
        }
      }
    }
  }
}

@import "./pages/browser.scss";

@import "./pages/translation.scss";

@import "./pages/roots.scss";

@import "./pages/yournotes.scss";

@import "./pages/coloring.scss";

@import "./pages/tags.scss";

@import "./pages/inspector.scss";

@import "./pages/comparator.scss";

@import "./pages/about.scss";

@import "./main_md.scss";
